@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../imgs/preview.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard {
  background-color: rgb(250, 250, 250);
  width: 90;
  height: 95%;
  margin: 5%;
  padding: 2%;
}
.login {
  padding: 25vh 25vh;
}